@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@400;700&family=Poppins:wght@300;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #e6e5ff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  background-color: #fff;
  padding: 80px;
  border-radius: 50px;
  box-shadow: 0px 36px 64px rgba(7, 76, 106, 0.25);
}

.title-logo {
  font-size: 2.5rem;
  color: #000;
  margin-bottom: 24px;
}

.container-input {
  max-width: 480px;
  margin: 14px 0;
}

.container-input span {
  color: #000;
  font-size: 1.5rem;
}

.slider {
  -moz-appearance: none;

  width: 100%;
  border-radius: 50px;
  background: #dfdfdf;
  color: #2a25b1;
  height: 17px;
  outline: none;
  margin-top: 8px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;

  background-color: #074c6a;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;

  background-color: #074c6a;
  cursor: pointer;
}

.button-cta {
  height: 40px;
  background-color: #074c6a;
  border: 0;
  border-radius: 50px;
  width: 80%;
  cursor: pointer;
  margin-top: 40px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container-password {
  max-width: 637px;
  margin: 14px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 8px;
  color: #000;
  margin-bottom: 16px;
}

.copy {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.copy img {
  width: 26px;
  margin-left: 10px;
}

.password {
  height: 41px;
  background-color: #d9d8f2;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #074c6a;
  font-size: 18px;
  font-weight: 400;
  padding-block: 10px;
  padding-inline: 25px;
}

.copy:hover {
  transform: scale(1.05);
}

.tooltip {
  color: #000;
  position: relative;
  top: 20px;
  padding: 6px 8px;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.container-password:hover .tooltip {
  visibility: visible;
  bottom: 50px;
  opacity: 1;
}

.hide {
  display: none;
}
